# fly.toml app configuration file generated for gronart-gallery-website on 2025-11-06T14:05:18Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'gronart-gallery-website'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1

[[mounts]]
  source = "paintings_data"
  destination = "/data"
